body{
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: calibri, arial, sans-serif;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 96%;
	height: 75px;
	padding: 20px 2%;
	border-bottom: 2px solid black;
	background: #f7f7f7;
	z-index: 5;
	color: #008B95;
}

header .left{
	font-size: 36px;
}

header .right{
	font-size: 18px;
}

.left{
	float: left;
	width: 35%;
}

.right{
	float: right;
	width: 60%;
	text-align: right;
}

.big{
	font-weight: 900;
	text-transform: uppercase;
}

.small{
	font-weight: 400;
	text-transform: lowercase;
}

#container{
	float: left;
	width: 100%;
	height: 500px;
	margin-top: 150px;
}

article{
	float: right;
	width: 98%;
	padding-top: 2%;
	min-width: 490px;
	height: auto;
}

h2{
	float: left;
	clear: both;
	width: 50%;
	margin: 10px 0 5px 5%;
}

.clear{
	float: left;
	width: 100%;
	clear: both;
}

footer{
	float: left;
	width: 100%;
	padding: 20px 0;
	margin-top: 30px;
	border-top: 5px double black;
}

.ftrLeft{
	padding-left: 2%;
}

.ftrRight{
	padding-right: 2%;
}

.orange{
	background: #E98E4E;
}

.orangeHover{
	background: #f0b083;
}

.blueGreen{
	background: #6CA3B2;
}

.lightAqua{
	background: #99D1D5;
}

.lightAquaHover{
	background: #b8dfe2;
}

/*Lot*/
.row{
	width: 100%;
	height: 12%;
	float: left;
}

.col-3{
	width: 24%;
}

.col-6{
	width: 49%;
}

.col-9{
	width: 74%;
}

.button{
	height: 80%;
	line-height: 100%;
	margin: 1.25px .5%;
	float: left;
	background: #6CA3B2;
	color: white;
	text-align: center;
	font-size: 48px;
}

.button:hover{
	cursor: pointer;
	background: #b8dfe2 !important;
}

#carLot{
	width: 25%;
	height: 420px;
	margin-left: 2%;
	padding: 2%;
	float: left;
	background: rgba(0, 0, 0, .1);
	color: white;
	border: 2px solid black;
}

#console{
	width: 64%;
	height: 470px;
	margin-right: 2%;
	float: right;
	font-size: 18px;
	border: 2px solid black;
	overflow: scroll;
}

#console div b{
	text-decoration: underline;
}

#consoleLeft{
	height: 100%;
	width: 30%;
	border-right: 1px solid rgba(0, 0, 0, .5);
}

#consoleRight{
	height: 100%;
	/*width: 56%;*/
	float: left;
}

#consoleLeft, #consoleRight{
	padding: 2%;
	text-align: left;
	overflow: scroll;
}

.make{
	float: left;
	clear: both;
	width: 100%;
	height: 145px;
}

.makeName{
	float: left;
	clear: both;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	color: black;
}

.car{
	float: left;
	height: 100px;
	width: 15%;
	margin: 2%;
	border: 1px solid black;
	color: black;
	background: #99D1D5;
	box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .3); 
}

.car:hover, .car:active{
	background: #b8dfe2;
}

.car:active{
	font-weight: bold;
	border-width: 3px;
}

.roof{
	float: left;
	width: 96%;
	height: 50%;
	margin-top: 40%;
	padding: 2%;
	line-height: 50px;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.roof:active{
	border-top-width: 3px;
	border-bottom-width: 3px;
}
